In [4]:
import pandas as pd

df_1 = pd.DataFrame({"A": ["A0", "A1", "A2", "A3"], "B": ["B0", "B1", "B2", "B3"]})
df_2 = pd.DataFrame({"A": ["A4", "A5", "A6", "A7"]})

df = pd.concat([df_1, df_2], axis=0)
df

    A    B
0  A0   B0
1  A1   B1
2  A2   B2
3  A3   B3
0  A4  NaN
1  A5  NaN
2  A6  NaN
3  A7  NaN